<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam facere nemo officiis quisquam maiores quae! Praesentium optio recusandae cumque temporibus commodi, perspiciatis rem voluptatem, modi amet quis in, consequatur deleniti.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dolores, et, quae molestiae repudiandae vero quidem ullam est eaque, officiis quas eum aliquam! Deserunt blanditiis quos exercitationem voluptate eum sequi.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam corporis, sed illo reiciendis quidem inventore cum accusantium totam ab facere autem aut, recusandae asperiores possimus! Provident error hic sapiente corporis?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>